.service-provider-container {
  margin: 40px 100px;
  position: relative;
}
.service-provider img {
  width: 120px;
}
.service-provider {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.service-provider-text {
  text-align: left;
  margin: 0 40px 0 30px;
}
.service-provider-text h3,.service-provider-details h3{
  font-size: 26px;
  font-weight: var(--title-1-w);
  color: var(--dark-blue);
}
.service-provider-text p {
  font-size: 14px;
  color: var(--dark-grey);
}
.service-provicer-btn{
    position: absolute;
    top: 5%;
    right: 5%;
}
.service-provicer-btn button {
  padding: 7px 15px;
  border-radius: 5px;
  border: 1px solid var(--dark-blue);
  background-color: #fff;
  margin-top: 5px;
  cursor: pointer;
  transition: 0.5s all ease;
  color: var(--dark-blue);
  font-size: var(--font-2-s);
  font-weight: var(--title-2-w);
}
.service-provicer-btn button a {
  text-decoration: none;
}

.service-provicer-btn button:hover {
  background-color: var(--dark-blue);
  color: #fff;
}
.service-provider-details h3{
    margin-bottom: 13px;
}
.service-provider-details p{
    font-size: var(--font-2-s);
    font-weight: 300;
word-spacing: 5px;
margin-bottom: 13px;
}
.work-hours li{
    list-style: none;
    margin-bottom: 13px;
    font-size: var(--font-2-s);
    display: flex;
    justify-content: space-between;
    width: 200px;
    color: var(--dark-grey);
}
.work-imgs{
    width: 90%;
}
.slider {
    margin:0 10px;
    overflow:"hidden";
    padding:1rem 0;
  }
  
  .slider img {
    width: 100%;
    border-radius:5px;
  }
  
  .react-multi-carousel-list {
  padding: 0rem 0 1rem 0;
  }
  
  .custom-dot-list-style button{
  border: none;
  background: var(--dark-blue);
  }
  .react-multi-carousel-dot.react-multi-carousel-dot--active button{
  background: var(--dark-blue) !important;
  }
  .comments{
    width: 70%;
  }
.comment img{
    width: 60px;
    margin-right: 15px;
}
.comments-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.comments-top a{
    text-decoration: none;
    color:var(--dark-blue);
    font-size: 20px;
}
.comments-top a:hover{
    color: var(--dark-yellow);
    text-decoration: underline;
}
.comment-user{
display: flex;
align-items: center;
margin-bottom: 15px;
}
.comment-user h4{
    font-size: var(--font-2-s);
    font-weight: var(--title-2-w);
    margin-bottom: 5px;
}
