.create-profile{
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background-color: #e8e8e8;
}
.create-profile form{
    display: flex;
    flex-direction: column;
    width: 750px;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.create-profile form h1{
text-align: center;
color: var(--dark-blue);
font-size: var(--title-2-s);
}
.create-profile-line{
    display: flex;
justify-content: center;
    height: 4px;
    width: 100%;
    background-color: var(--dark-yellow);
    margin: 10px 0;
}
.create-profile label{
    font-size: 20px;
    font-weight: var(--title-1-w);
    color: var(--dark-blue);
    font-family: var(--secondary-font);
}
.wilaya-input, .create-profile textarea, #selectbox1{
    border-radius: 3px;
    border: 1px solid #bfbfbf;
    width:  89%;
    resize: none;
    padding: 10px;
    font-size: var(--font-2-s);
    color: var(--dark-blue);
}
#selectbox1{
    width: 92%;
}
.wilaya-input:focus, .create-profile textarea:focus ,#selectbox1:focus{
    outline: none;
    border: 1px solid var(--light-yellow);
}
.labels{
    margin: 5px 0;
}
.create-profile-button{
    padding: 5px 10px;
    font-size: var(--font-2-s);
    font-weight: var(--title-2-w);
    width: 150px;
    margin-top: 5px;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid var(--dark-blue);
    color: var(--dark-blue);
    transition: all .3s ease;
}
.create-profile-button:hover{
    background-color: var(--light-yellow);
    color: #fff;
    border: none;
    border: 2px solid var(--light-yellow);
}





